#random-quote {
  background-image: url(assets-index/random-quote.png);
}

#markdown-previewer {
  background-image: url(assets-index/markdown-previewer.png);
}

#drum-machine {
  background-image: url(assets-index/drum-machine.png);
}

#form-validation {
  background-image: url(assets-index/form-validation.png);
}

#calculator {
  background-image: url(assets-index/calculator.png);
}
