@font-face {
  font-family: "Custom";
  src: url("../Custom.otf") format('opentype');
}

body {
  --bg-primary: rgb(23, 31, 39);
  --bg-secondary: rgb(35, 45, 58);
  --font-primary: rgb(255, 255, 255);
  --font-secondary: rgb(165, 168, 171);
  --blue: rgb(53, 153, 222);
  --blue-border: rgb(20, 72, 111);
  --blue-opaque: rgba(53, 153, 222, 0.2);

  background-color: var(--bg-primary);
  color: var(--font-primary);
  font-family: "Custom";
}

h1 {
  font-size: 20px;
}

div {
  margin: 10px 0 10px 0;
}

#outer-box {
  height: 100vh;
  margin-top: -40px;
}

#quote-box {
  text-align: center;
  border: 1px solid var(--blue-border);
  border-radius: 4px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 20% 0 20%;
  padding: 20px 20px 20px 20px;
}

#author {
  font-size: 12px;
}

#new-quote {
  background-color: var(--bg-primary);
  border: 1px solid var(--blue-border);
  border-radius: 4px;
  color: var(--font-primary);
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 20px;
}

#new-quote:hover {
  background-color: var(--bg-secondary);
}

#new-quote:focus {
  outline:0;
}

#new-quote:active {
  background-color: var(--bg-primary);
}

#tweet-quote {
  text-decoration: none;
  color: white;
}
