#random-quote {
  background-image: url(assets-index/random-quote.png);
}

#markdown-previewer {
  background-image: url(assets-index/markdown-previewer.png);
}

#drum-machine {
  background-image: url(assets-index/drum-machine.png);
}

#form-validation {
  background-image: url(assets-index/form-validation.png);
}

#calculator {
  background-image: url(assets-index/calculator.png);
}

#pomodoro-clock {
  background-image: url(assets-index/pomodoro-clock.png);
}

#todo {
  background-image: url(assets-index/todo.png);
}

#responsive-web-design {
  background-image: url(assets-index/responsive-web-design.png);
}

#front-end-libraries {
  background-image: url(assets-index/front-end-libraries.png);
}

#algorithms-and-data-structures {
  background-image: url(assets-index/front-end-libraries.png);
}
